/* Set the font family to Montserrat */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(https://images.unsplash.com/photo-1682685794761-c8e7b2347702?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set the text alignment to center */
h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
}

/* Set the margin-bottom of the paragraph to 1em */
p {
    text-align: center;
    margin-bottom: 1em;
}

